/* color: rgb(132, 40, 24); */

* {
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  width: 1366px;
  margin: 0 auto;
  padding: 8px 0;
  color: #842818;
  cursor: pointer;
}
header p {
  margin: 0 32px 0 0;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
.ui {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: rgb(228, 228, 228);
  border-radius: 50%;
}

.main {
  display: flex;
  width: 1366px;
  margin: 56px auto 0;
  font-weight: bold;
}
.left {
  width: 300px;
  margin: 0 32px 0 0;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.user-info p {
  font-size: 18px;
  font-weight: bold;
  margin: 16px 0 64px;
}
.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px;
}
.menu-item img {
  height: 25px;
  margin: 0 16px 0 0;
}
.menu-item:hover {
  background: rgba(132, 40, 24, 0.3);
}
.menu-item:hover::after {
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  bottom: 0;
  width: 3px;
  background:rgb(132, 40, 24);
}

.right {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.right .event-item {
  width: 30%;
}
.event-item .bg {
  background: rgb(228, 228, 228);
  height: 150px;
}
.event-item p {
  text-align: center;
  padding: 16px 0;
  background: rgba(132, 40, 24, 0.3);
}
.title.gi {
  margin: 0 0 16px 0;
}
.line {
  display: flex;
  align-items: center;
  margin: 0 0 16px;
}
.form-item {
  display: flex;
  flex-direction: column;
  margin: 0 32px 0 0;
}
input {
  height: 25px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin: 8px 0 0;
}
input:focus {
  border: 1px solid #990000;
}
.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(226, 225, 225);
  margin: 8px 0 0;
  border: 1px dashed #ccc;
  height: 100px;
  width: 300px;
}
.button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 8px;
  background: #990000;
  color: #fff;
  cursor: pointer;
}
.button + .button {
  margin: 0 0 0 8px;
}
.button:hover {
  opacity: 0.8;
}
.overview-right img {
  width: 200px;
  height: 150px;
}
.up-item {
  display: flex;
  align-items: center;
  margin:  0 0 16px;
}
.up-item img {
  margin: 0 16px 0 0;
}
.red-title {
  color: #990000;
  font-weight: bold;
  margin: 0 0 8px;
}
.checkbox {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
}
.koukou {
  width: 10px;
  height: 10px;
  margin: 0 8px 0 0;
  border: 1px solid #ccc;
}
.b-line {
  padding: 0 0 32px;
  border-bottom: 1px solid #ccc;
}